* {
    padding: 0;
    margin: 0;
}

body {
    background: rgb(58, 57, 57);
    color: rgb(193, 187, 187);
}

a {
    color: rgb(193, 187, 187);
    text-decoration: none;
}

input {
    background: rgb(58, 57, 57);
    color: rgb(193, 187, 187);
    font-size: 16px;
}

input:focus {
    border: 3px solid rgb(58, 57, 57);
}

.headings {
    font-size: 18px;
    text-align: left;
}

.testa {
    background-color: rgb(84, 94, 122);
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.testa .greetings {
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.body .btns {
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
}

.body .btns .btn {
    position: relative;
    top: 20px;
    border-radius: 20px;
    background-color: rgb(55, 74, 88);
}

.body .btns .btn > a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    letter-spacing: 1px;
    height: 50px;
    width: 150px;
}

.log-out {
    padding: 10px;
    border-radius: 12px;
    background-color: rgb(0, 76, 130);
}

.back {
    width: 200px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1.5px;
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(166, 40, 40);
}

.insert {
    width: 200px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(0, 135, 0);
}

.table-upper  {
    position: relative;
    top: 12px;
    margin: 0 30px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.body .tabella {
    position: relative;
    top: 20px;
    padding: 0 30px 0 30px;
    width: 100vw;
}

.body .tabella > thead {
    background-color: rgb(94, 83, 66);
}

.body .tabella > thead th {
    letter-spacing: 2px;
    text-align: center;
    padding: 10px;
}

.body .tabella > tbody td {
    border: solid black 1px;
    padding: 8px 0 8px 5px;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
}